{% extends 'base.html' %}
{% block content %}
    <!-- <h1>Add a Snippet</h1> -->

    <div class="whole-form-container">
        <form action="" method="POST">
        <div class="top-form-container">
                <!-- #id_title -->
                <div class="form-title">
                    <div>
                    <label for="{{ form.title.id_for_label }}" id="title-label">Title</label>
                    {{ form.title }}
                    </div>
                    <div>
                        <label for="{{ form.description.id_for_label }}" id="description-label">Description</label>
                        {{form.description}}
                    </div>
                </div>
                <div class="form-buttons">
                    <input type="submit" value="Submit" class="btn white-text" id="submit-btn">
                </div>
        </div>
    
        <div class="container">
            <div class="left">
                    {% csrf_token %}
                    <!-- #id_html_code -->
                    <label for="{{ form.html_code.id_for_label }}"><i class="fa-brands fa-html5"></i> HTML</label>
                    {{form.html_code}}
    
                    <!-- #id_css_code -->
                    <label for="{{ form.css_code.id_for_label }}"><i class="fa-brands fa-css3-alt"></i> CSS</label>
                    {{form.css_code}}
    
                    <!-- id_js_code -->
                    <label for="{{ form.js_code.id_for_label }}"><i class="fa-brands fa-js"></i> JS</label>
                    {{form.js_code}}
                </form>
            </div>
            <div class="right">
                <label><i class="fa-solid fa-play"></i> Output</label>
                <iframe id="output"></iframe>
            </div>
        </div>
    </div>

    

    <script>
        // HTML
        const htmlEditor = CodeMirror.fromTextArea(document.getElementById("id_html_code"), {
            mode: "xml",
            lineNumbers: true,
            theme: 'monokai',
            autoCloseTags: true,
            autoCloseBrackets: true,
            extraKeys: { "Ctrl-Space": "autocomplete" }
        });

        // CSS
        const cssEditor = CodeMirror.fromTextArea(document.getElementById("id_css_code"), {
            mode: "css",
            lineNumbers: true,
            autoCloseBrackets: true,
            theme: 'monokai',
            extraKeys: { "Ctrl-Space": "autocomplete" }
        });

        // JavaScript
        const jsEditor = CodeMirror.fromTextArea(document.getElementById("id_js_code"), {
            mode: "javascript",
            lineNumbers: true,
            autoCloseBrackets: true,
            theme: 'monokai',
            extraKeys: { "Ctrl-Space": "autocomplete" }
        });

        // Event listeners for user input
        htmlEditor.on("change", run);
        cssEditor.on("change", run);
        jsEditor.on("change", run);

        const output = document.getElementById('output');

        function run() {
            let htmlVal = htmlEditor.getValue();
            let cssVal = cssEditor.getValue();
            let jsVal = jsEditor.getValue();

            // Update the content of the output iframe
            output.contentDocument.body.innerHTML = htmlVal + '<style>' + cssVal + '</style>';
            output.contentWindow.eval(jsVal);
        }

        const selectEl = document.getElementById('id_primary_code_type');
        M.FormSelect.init(selectEl);
    </script>
    
{% endblock %}


