{% extends 'base.html' %}
{% block content %}
    <div class="snippet-form">
        <div class="form-top-bar">
            <div class="ftb-left">
                <div class="form-logo">UI</div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-title-user">
                        <div class="form-title">
                            {{ form.title }} <!-- #id_title -->
                            <label for="{{ form.title.id_for_label }}" id="title-label"><i class="fa-solid fa-pencil"></i></label>
                        </div> 
                        <div class="form-user">Unknown User</div>
                    </div>
            </div>
            <div class="ftb-right">
                <div class="form-save">
                    <input type="submit" value="Save" class="btn white-text" id="submit-btn">
                </div>
                <!-- <div class="form-heart">
                    <i class="fa-solid fa-heart"></i>
                </div> -->
                <div class="form-settings">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="form-avatar">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>
        <div class="form-iframes">
            <div class="form-html">
                <label for="{{ form.html_code.id_for_label }}">
                    <i class="fa-brands fa-html5"></i> HTML
                </label>
                {{form.html_code}} <!-- #id_html_code -->
            </div>
            <div class="form-css">
                <label for="{{ form.css_code.id_for_label }}">
                    <i class="fa-brands fa-css3-alt"></i> CSS
                </label>
                {{form.css_code}} <!-- #id_css_code -->
            </div>
            <div class="form-js">
                <label for="{{ form.js_code.id_for_label }}">
                    <i class="fa-brands fa-js"></i> JS
                </label>
                {{form.js_code}} <!-- id_js_code -->
            </div>
        </div>
                </form>

            <!-- ADD THIS INTO A MODAL WITH THE TAGS -->
            <!-- <div class="description-form">
                <label for="{{ form.description.id_for_label }}" id="description-label">Description</label>
                {{form.description}}
            </div> -->

<!--
        </div>
        </form>
        <div>
            <label><i class="fa-solid fa-play"></i> Output</label>
            <iframe id="output"></iframe>
        </div>
        
        {% if object %}
            <h5>remove a tag</h5>
            <div class="tag-buttons">
                {% if snippet.tags.count %}
                    {% for tag in snippet.tags.all %}
                    <div>
                        <form method="POST" action="{% url 'remove_tag' snippet.id tag.id %}">
                            {% csrf_token %}
                            <button type="submit" class="tag">{{tag.name}}</button>
                        </form>
                    </div>
                    {% endfor %}
                {% else %}
                    <h5>No Tags</h5>
                {% endif %}
            </div>
            <div>
                <h5>assoc a tag</h5>
                <div class="tag-buttons">
                    {% if tags_not_in_snippet %}
                        {% for tag in tags_not_in_snippet %}
                            <form method="POST" action="{% url 'assoc_tag' snippet.id tag.id %}">
                                {% csrf_token %}
                                <button type="submit" class="tag">{{tag.name}}</button>
                            </form>
                        {% endfor %}
                    {% endif %}
                </div>
            </div> -->

            <!-- <div>
                <form method="POST" action="{% url 'add_tag' snippet.id %}">
                    {% csrf_token %}
                    {{ tag_form.as_p }}
                    <button type="submit">Add Tag</button>
                </form>
            </div> -->

            <!-- <div class="vote-div">
                <form action="{% url 'add_vote' snippet.id %}" method="POST">
                    {% csrf_token %}
                    
                    <button type="submit" name="vote_type" value="UP">
                        <i class="fa-solid fa-circle-arrow-up"></i>
                    </button>
                    {{ upvote_count }}
                    
                    <button type="submit" name="vote_type" value="DOWN">
                        <i class="fa-solid fa-circle-arrow-down"></i>
                    </button>
                    {{ downvote_count }}
                </form>
            </div>
        {% endif %}
        </div>
    </div> -->

    <script>
        // HTML
        const htmlEditor = CodeMirror.fromTextArea(document.getElementById("id_html_code"), {
            mode: "xml",
            lineNumbers: true,
            autoCloseTags: true,
            autoCloseBrackets: true,
            extraKeys: { "Ctrl-Space": "autocomplete" }
        })

        // CSS
        const cssEditor = CodeMirror.fromTextArea(document.getElementById("id_css_code"), {
            mode: "css",
            lineNumbers: true,
            autoCloseBrackets: true,
            extraKeys: { "Ctrl-Space": "autocomplete" }
        })

        // JavaScript
        const jsEditor = CodeMirror.fromTextArea(document.getElementById("id_js_code"), {
            mode: "javascript",
            lineNumbers: true,
            autoCloseBrackets: true,
            extraKeys: { "Ctrl-Space": "autocomplete" }
        })

        htmlEditor.on("change", run)
        cssEditor.on("change", run)
        jsEditor.on("change", run)

        const output = document.getElementById('output')

        function run() {
            let htmlVal = htmlEditor.getValue()
            let cssVal = cssEditor.getValue()
            let jsVal = jsEditor.getValue()

            output.contentDocument.body.innerHTML = htmlVal + '<style>' + cssVal + '</style>'
            output.contentWindow.eval(jsVal)
        }

        // const selectEl = document.getElementById('id_primary_code_type');
        // M.FormSelect.init(selectEl)
    </script>
    
{% endblock %}


