{% extends 'base.html' %}
{% block content %}

<div class="page-container-colcenter">

    <div class="about-row">
        <div class="about-white-box-med">
            <h1>About <p>UI Snippets</p></h1>
            <div class="about-contact">
                <p>
                    Email us anytime at <a href="mailto:melaniewinter830@gmail.com" class="email-link">melaniewinter830@gmail.com</a>
                </p>
            </div>
        </div>
        <div class="about-clear-box-lg">
            <div>
                <span>👋 Welcome to UI Snippets</span>, your go-to platform for efficiently managing and storing HTML, CSS, and JavaScript code snippets. Whether you're a seasoned developer, a hobbyist, or just starting on your coding journey, our app is designed to make your coding life easier.
            </div>
        </div>
    </div>

    <div class="about-row">
        <div class="about-purple-box-sm">
            <div>
                <h3>Preview <p>and Execution:</p></h3>
                <ul>
                    <li>
                        Preview your code snippets in real-time to see how they'll render.
                    </li>
                    <li>
                        Execute JavaScript code directly within the app to test functionality.
                    </li>
                </ul>
            </div>
        </div>

        <div class="about-purple-box-sm">
            <div>
                <h3>Effortless Code <p>Management:</p></h3>
                <ul>
                    <li>
                        Seamlessly organize and store your HTML, CSS, and JavaScript code snippets in one central location.
                    </li>
                    <li>
                        Categorize snippets with tags for quick and easy retrieval.
                    </li>
                </ul>
            </div>
        </div>

        <div class="about-purple-box-sm">
            <div>
                <h3>Collaboration and <p>Inspiration:</p></h3>
                <ul>
                    <li>
                        Share your favorite snippets with the community.
                    </li>
                    <li>
                        Explore and discover new coding techniques from fellow developers.
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="about-bottom-text">Start exploring UI snippets with us today! Happy coding!</div>

{% endblock %}
