{% extends 'base.html' %}
{% block content %}

<div class="page-container-colcenter">


    <!-- maybe add a curves diagonally. use position absolute to place largely on right of hero text but below call to actions. make very large -->
    <div class="hero-home">
        <div class="hero-title">
            <h1><p>Designed to make</p> <p>your <span class="title-span">coding</span></p> <p>life easier</p></h1>
        </div>
    </div>

    <div class="call-to-actions">
        <div>
            <div class="cta-box"><i class="fa-solid fa-crown"></i></div>
            <div class="cta-content">
                <h3>Create. Code. Conquer.</h3>
                <p>
                    Accelerate your coding workflow with our intuitive code editor. Seamlessly build and test entire projects or isolate code snippets to experiment with new features and animations.
                </p>
                <button>Try It Out</button>
            </div>
        </div>
        <div>
            <div class="cta-box"><i class="fa-solid fa-medal"></i></div>
            <div class="cta-content">
                <h3>Showcase Your Talent</h3>
                <p>
                    Share your creative genius with the world. Showcase your unique coding style, innovative UI designs, and smart solutions. Gain visibility and recognition within our growing community.
                </p>
                <button>Try It Out</button>
            </div>
        </div>
        <div>
            <div class="cta-box"><i class="fa-solid fa-graduation-cap"></i></div>
            <div class="cta-content">
                <h3>Continuous Learning</h3>
                <p>
                    Elevate your skills through continuous learning. Dive into new technologies, explore trending frameworks, and stay updated with the latest developments in web development.
                </p>
                <!-- Style and route these buttons -->
                <button>Try It Out</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}