:root {
    --main-font: #ffffff;   
    --light-purple: hsla(244, 63%, 69%, 0.9);
    --light-purple-trans: hsla(244, 63%, 69%, 0.3);
    --dark-purple: hsla(243, 80%, 62%, 1);
    --dark-purple-trans: hsla(243, 80%, 62%, 0.5);
    --div-background: rgba(255, 255, 255, 0.1);
    --div-border-radius: 16px;
    --div-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --div-backdrop-filter: blur(7.1px);
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('../assets/background.png') center/cover;
    color: var(--main-font);
}

.whole-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
}

.top-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.form-title {
    display: flex;
    flex-direction: row;
    gap: 5vmin;
}

#id_title {
    width: 20vmin;
    height: 5vmin;
    color: var(--main-font);
    background: var(--div-background);
    border-radius: 16px;
    box-shadow: var(--div-box-shadow);
    backdrop-filter: var(--div-backdrop-filter);
    -webkit-backdrop-filter: var(--div-backdrop-filter);
    border: 0;
    outline: 0;
    font-size: 1rem;
    margin-top: 1vmin;
    padding-inline: 10px;
}

#id_description {
    width: 100vmin;
    height: 5vmin;
    color: var(--main-font);
    background: var(--div-background);
    border-radius: 16px;
    box-shadow: var(--div-box-shadow);
    backdrop-filter: var(--div-backdrop-filter);
    -webkit-backdrop-filter: var(--div-backdrop-filter);
    border: 0;
    outline: 0;
    font-size: 1rem;
    margin-top: 1vmin;
    padding-inline: 10px;
}

#submit-btn {
    width: 15vmin;
    height: 5vmin;
    font-size: .75rem;
    color: white;
    background: hsla(243, 80%, 62%, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#submit-btn:hover {
    outline: 1px solid var(--div-background);
}

.left-c, 
.right-c {
    flex-basis: 50%;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 28%;
    color: var(--main-font);
    background: var(--div-background);
    border-radius: var(--div-border-radius);
    box-shadow: var(--div-box-shadow);
    backdrop-filter: var(--div-backdrop-filter);
    -webkit-backdrop-filter: var(--div-backdrop-filter);
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 1rem;
}

iframe {
    width: 100%;
    height: 95%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: var(--div-border-radius);
    box-shadow: var(--div-box-shadow);
    backdrop-filter: var(--div-backdrop-filter);
    -webkit-backdrop-filter: var(--div-backdrop-filter);
    border: 0;
    outline: 0;
}

label i {
    margin-inline: 10px;
}

label {
    display: flex;
    align-items: center;
    height: 30px;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color:hsla(244, 63%, 69%, 0.9);
}

#id_primary_code_type {
    color: white;
    background: white;
}

.page-nav,
.page-footer {
    position: relative;
    left: 0;
    width: 100%;
    background: hsla(244, 63%, 69%, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.snippets {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    column-gap: 2vmin;
    row-gap: 2vmin;
    padding-block: 3vmin;
}

.snippet-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 10rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

.tag-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding-inline: 1rem;
    width: 100%;
    top: 10px;
}

.tag-container-div {
    display: flex;
    gap: 1vmin
}

.title-tag:hover {
    border-radius: 16px;
    background: var(--dark-purple);
    font-weight: 500;
}

.tag {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: .75rem;
}

.detail-container {
    display: flex;
    align-items: space-between;
    justify-content: center;
    gap: 2vmin;
    padding-inline: 4vmin;
}

.detail {
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 2vmin;
    padding-bottom: 4vmin;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

.detail > div {
    font-size: 1rem;
    font-weight: 100;
}

.title {
    font-size: 1rem;
}

/* CODE CONTAINER */

.code-container {
    overflow: auto;
    padding-inline: 4vmin;
    font-size: .8rem;
    width: 50%;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
}

.code-container > div {
    width: fit-content;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: .75rem;
}

.copy-button:hover {
    outline: 1px solid white;
    font-weight: 500;
}