:root {
    --border-radius: 10px;
    --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    /* LIGHT MODE -- color scheme */
    --primary: hsl(243, 100%, 68%);
    --primary-content: hsl(0, 0%, 100%);
    --primary-dark: hsl(243, 100%, 58%);
    --primary-light: hsl(243, 100%, 78%);
    
    --secondary: hsl(153, 100%, 68%);
    --secondary-content: hsl(153, 100%, 18%);
    --secondary-dark: hsl(153, 100%, 58%);
    --secondary-light: hsl(153, 100%, 78%);
    
    --background: hsl(240, 3%, 94%);
    --foreground: hsl(0, 0%, 98%);
    --border: hsl(240, 3%, 87%);
    
    --copy: hsl(240, 3%, 15%);
    --copy-light: hsl(250, 3%, 40%);
    --copy-lighter: hsl(250, 3%, 55%);
    
    --success: hsl(120, 100%, 68%);
    --warning: hsl(60, 100%, 68%);
    --error: hsl(0, 100%, 68%);
    --success-content: hsl(120, 100%, 18%);
    --warning-content: hsl(60, 100%, 18%);
    --error-content: hsl(0, 100%, 18%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}

.border {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--copy);
    background-color: var(--background);
}

main {
    margin-left: 5rem;
}

a {
    text-decoration: none;
    color: var(--copy);
}

h1 {
    font-size: 4rem;
    font-weight: 400;
}

.page-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    padding: 1rem;
}

.page-nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-button {
    border: 0;
    background-color: var(--primary-light);
    color: var(--primary-content);
    aspect-ratio: 1 / 1;
    width: 3rem;
    border-radius: 7px;
    font-size: 1.3rem;
}

.nav-button:hover {
    cursor: pointer;
    background-color: var(--primary-content);
    color: var(--primary);
}

.logo {
    font-family: 'Monoton', sans-serif;
    font-size: 2.25rem;
    color: var(--primary-light);
    letter-spacing: -.25rem;
}

.logo:hover {
    cursor: pointer;
    color: var(--primary-content);

}

.page-container-colcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

/* .page-container-col {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    padding-inline: 4rem;
    gap: 2rem;
} */

.search-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.search-bar-home {
    width: 80%;
}

#search-bar {
    width: 100%;
    height: 1.5rem;
    background-color: var(--foreground);
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-size: 1rem;
    padding-inline: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    margin-block: 1.5rem;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.login-buttons > button {
    min-width: max-content;
    border: none;
    background-color: var(--secondary-dark);
    color: var(--secondary-content);
    padding: 5px;
    border-radius: 2px;
    font-size: .75rem;
    box-shadow: var(--box-shadow);
}

.login-buttons > button:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
    color: var(--secondary-content);
}

.hero-home {
    width: 100%;
}

.hero-title {
    width: 50rem;
    margin-left: 3rem
}

.title-span {
    font-weight: 600;
    color: transparent;
    color: var(--primary-dark);
}

.call-to-actions {
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.call-to-actions > div {
    background-color: var(--foreground);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 15rem;
    height: 13rem;
    position: relative;
}

.cta-box {
    position: relative;
    top: -1rem;
    left: 1rem;
    background: linear-gradient(to top left, var(--primary-dark), var(--primary-light));
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 4rem;
    height: 3rem;
    color: var(--primary-content);
    font-size: 1.5rem;
    display: grid;
    place-items: center;
}

.cta-content {
    margin-top: -.5rem;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    gap: .75rem;
    padding-inline: 1rem;
    height: 70%;
}

.cta-content > h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.cta-content > p {
    font-size: .65rem;
}

/* COME BACK TO THIS AFTER FIXING CSS!!! */
.cta-content > button {
    margin-top: .25rem;
    min-width: 12rem;
    font-size: .75rem;
    font-weight: 400;
}

.sort-by {
    width: 100%;
    padding-inline: 3.5rem;
    font-size: .65rem;
    margin-top: -1rem;
    margin-bottom: .5rem;
}

.sort-by > label,
.sort-by > select {
    display: inline;
}

.basic {
    background-color: var(--border);
    color: var(--copy-light);
    font-size: .65rem;
    width: 100vmin;
    height: 3rem;
    display: grid;
    place-items: center;
    margin-block: 2rem;
}

.showing-results {
    color: var(--copy-light);
    margin-bottom: 1rem;
    font-size: .75rem;
}

.snippets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vmin;
}

.snippet-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
    width: 15rem;
    border-radius: var(--border-radius);
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    padding: .55rem;
}

.preview {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: auto;
    height: 8rem;
    width: 14rem;
    pointer-events: none;
}

.snippet-bottom {
    width: inherit;
    height: 3.5rem;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    gap: .5rem;
}

.snippet-bottom-first {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.avatar {
    aspect-ratio: 1 / 1;
    width: 2rem;
    display: grid;
    place-items: center;
    color: var(--primary-content);
    background: linear-gradient(to top left, var(--primary), var(--primary-light));
    border-radius: 4px;
}

.snippet-title-p {
    font-weight: 800;
    font-size: .75rem;
}

.snippet-user-p {
    font-weight: 100;
    font-size: .5rem;
}

.snippet-bottom-menu {
    padding: .5rem;
    color: var(--copy-lighter);
}

.about-row {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.about-white-box-med {
    width: 70vmin;
    height: 30vmin;
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    padding: 3vmin;
    border-radius: var(--border-radius);
}

.about-purple-box-sm {
    width: 45vmin;
    height: 30vmin;
    padding: .75rem;
    display: grid;
    place-items: center;
    box-shadow: var(--box-shadow);
    background: linear-gradient(to top left, var(--primary), var(--primary-dark));
    color: var(--primary-content);
    border-radius: var(--border-radius);
}

.about-clear-box-lg {
    width: 70vmin;
    height: 30vmin;
    padding: 2rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
}

.about-white-box-med > h1 {
    font-size: 2rem;
    font-weight: 800;
}

.about-contact {
    font-weight: 200;
    font-size: .65rem;
    margin-top: 1rem;
}

.email-link {
    text-decoration: underline;
    color: var(--primary);
}

.about-clear-box-lg > div > span {
    color: var(--primary-dark);
    font-weight: 600;
}

.about-purple-box-sm > div > h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: .75rem;
    padding-left: .75rem;
}

.about-purple-box-sm > div > ul {
    padding-left: 1rem;
    font-size: .75rem;
    line-height: 1rem;
}

.about-purple-box-sm > div > ul > li {
    padding-bottom: .2rem;
}

.about-bottom-text {
    text-align: center;
    font-weight: 400;
    font-size: .75rem;
    padding: 2rem;
}

.form-top-bar {
    margin-top: -2.5rem;
    width: 100%;
    height: 2.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.ftb-left {
    display: flex;
    gap: .2rem;
}

.form-logo {
    font-family: 'Monoton', sans-serif;
    font-size: 1.5rem;
    color: var(--primary-light);
    letter-spacing: -.25rem;
    padding-right: .5rem;
    padding-top: .25rem;
}

.form-title-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.form-description {

}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: .25rem;
}

#id_title {
    border: 1px solid var(--border);
    background: none;
    font-family: inherit;
    font-size: .9rem;
    font-weight: 500;
    color: var(--copy);
    padding-inline: 10px;
}

#title-label {
    font-size: .65rem;
}

#title-label:hover {
    cursor: pointer;
    color: var(--primary);
}

.form-user {
    font-size: .5rem;
}

.ftb-right {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.form-avatar,
.form-heart,
.form-settings,
#submit-btn {
    border: none;
    width: 2rem;
    height: 1.75rem;
    display: grid;
    place-items: center;
    color: var(--primary-content);
    background: linear-gradient(to top left, var(--primary), var(--primary-light));
    border-radius: 4px;
    font-size: .65rem;
    box-shadow: var(--box-shadow);
}

.form-avatar:hover,
.form-heart:hover,
.form-settings:hover,
#submit-btn:hover {
    background: linear-gradient(to top left, var(--primary-dark), var(--primary-light));
    cursor: pointer;
}

.form-save {
    outline: none;
    border: none;
}

.form-iframes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.form-html,
.form-css,
.form-js {
    width: 33%;
}

.form-html > label,
.form-css > label,
.form-js > label {
    margin-left: .5rem;
    font-size: .65rem;
    padding-inline: 1rem;
    padding-block: .25rem;
    background-color: var(--border);
    color: var(--copy);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 5rem;
    box-shadow: var(--box-shadow);
}

.CodeMirror {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    height: 14rem !important;
    border: 1px solid var(--border);
    margin-top: -1px;
}

.snippet-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
}

.form-output-iframe {
    width: 100%;
}

#output {
    width: 100%;
    border: 1px solid var(--border);
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    height: 14rem;
}

#formModal {
    position: fixed;
    padding: 3rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: hsl(0 0% 100%/ 0.75);
    backdrop-filter: blur(.5rem);
    color: var(--primary-color);
    border: 1px transparent var(--primary-color);
    border-radius: 0.5rem;
    z-index: 9999;
}



/* #title-snippet {
    width: 20vmin;
    height: 5vmin;
    background-color: var(--foreground);
    border-radius: var(--border-radius);
    border: 0;
    outline: 0;
    font-size: 1rem;
    margin-top: 1vmin;
    padding-inline: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
}

.all-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 10px;
    gap: 1vmin;
}

.tag-buttons {
    display: flex;
    gap: 1vmin;
}

.details-button {
    width: 100%;
}

.details-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.form-buttons {
    display: flex;
    gap: 5px;
}


#edit-button,
#delete-button,
#cancel-button,
.details-button {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    color: var(--primary-content);
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.form-title {
    display: flex;
    flex-direction: row;
    gap: 5vmin;
    flex-wrap: wrap;
} */



/* #id_description,
#description-snippet {
    width: 100vmin;
    height: 5vmin;
    border-radius: var(--border-radius);
    background-color: var(--foreground);
    border: 0;
    outline: 0;
    font-size: 1rem;
    margin-top: 1vmin;
    padding-inline: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
} */

/* .left-c, 
.right-c {
    width: 38rem;
    padding: 10px;
    border: 1px solid blue;
} */

/* textarea {
    max-width: 100%;
    height: 28%;
    border-radius: var(--border-radius);
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 1rem;
} */

/* #output,
#output-snippet {
    width: 100%;
    height: 46vmin;
    border-radius: var(--border-radius);
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    border: 0;
    outline: 0;
    border: 1px solid red;
} */
/* 
label i {
    margin-inline: 10px;
}

label {
    display: flex;
    align-items: center;
    height: 30px;
    color: var(--copy);
} */















/* #submit-btn {
    margin-bottom: 7px;
    line-height: .1rem;
} */

/* #submit-btn:hover, */
/* #edit-button:hover,
#delete-button:hover,
#cancel-button:hover,
.details-button:hover {
    cursor: pointer;
    background-color: var(--primary-dark);
}

.tag {
    background-color: var(--secondary-light);
    border-radius: var(--border-radius);
    color: var(--secondary-content);
    border: none;
    padding: 5px 10px;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.tag:hover {
    cursor: pointer;
    background-color: var(--secondary-dark);
}

.detail-container {
    display: flex;
    align-items: space-between;
    justify-content: center;
    gap: 2vmin;
    padding-inline: 4vmin;
}

.code-container {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 30.75%;
    border-radius: var(--border-radius);
    background-color: var(--foreground);
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 1rem;
    border: 1px solid green;
}

.code-container > div {
    width: fit-content;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light);
    color: var(--secondary-content);
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
}

.copy-button:hover {
    cursor: pointer;
    background-color: var(--secondary-dark);
}

.delete-h4 {
    margin-bottom: 3rem;
}

.CodeMirror {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: 50vmin;
} */



