{% extends 'base.html' %}
{% block content %}

<div class="snippets" style="margin-block: 4vmin;">

    {% for snippet in snippets %}

    <div class="snippet-preview">
        <div class="tag-container">
            <div class="tag">tag</div>
            <div class="tag">tag</div>
            <div class="tag">tag</div>
        </div>
        <div class="preview-container">
            <div class="preview">
                <style>{{ snippet.css_code|safe }}</style>
                {{ snippet.html_code|safe }}
                <script>{{ snippet.js_code|safe }}</script>
            </div>
        </div>
        <div class="details-button-container">
            <a href="{% url 'detail' snippet.id %}" class="details-button"><div>{{ snippet.title }}</div></a>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}